{% extends 'main/layout.html' %}
{% load static%}
{% block content %}
    <br> 

    <div class="header">

        <div class="short_discription">
            <h1 class="text"> Изготавливаем модели любой сложности с помощью технологии 3D-печати</h1>
        </div>
        <div class="gallery_functions">

            <figure>
                <img src="{% static 'main/img/rotation_9487890.png' %}" alt="">
                <figcaption><strong>Проектируем и моделируем.</strong><br>
                    Создание трехмерных моделей любой сложности
                </figcaption>
            </figure>

            <figure>
                <img src="{% static "main/img/3d-printing_663671.png"%}" alt="">
                <figcaption> <strong>Собственный парк 3D-принтеров. </strong><br>
                    Имеем разнообрзные принтеры
                </figcaption>
            </figure>

            <figure>
                <img src="{% static "main/img/network_4998009.png"%}" alt="">
                <figcaption> <strong>Единичное и серийное производство. </strong><br>
                    Работаем с организациями.
                </figcaption>
            </figure>

        </div>

    </div>
    <br>

    <div class="process_discription">
        <h1>Как это работает?</h1>
        <div class="content_procces">
            <p><strong>3D-принетер</strong> - это устройство,
                при помощи которого трехмерную модель,
                созданную на компьютере, можно воссоздать в жизни.
            </p>
            <img src="{% static "main/img/technology-equipment-blue-laboratory-generated-by-ai.jpg"%}" alt="">
        </div>

    </div>

    <br>
    
   {% include "main/form.html" %}

    

    {% endblock %}