p {
    color: #ffffff;
}
a{
    color: #ffffff;
}
h1{
    color: rgb(81, 112, 180);
}
h2{
    color: #ffffff;
}
ul{
    color: #ffffff;
}
ol {
    color: #ffffff;
}
blockquote{
    color: #ffffff;
}
table{
    color: #ffffff;
}
figcaption{
    color: #ffffff;
}
body{
    background: rgb(29, 29, 29);
}